.popup__close-button {
  background-image: url(../../../images/Close-Icon.svg);
  background-size : contain;
  border          : 0;
  position        : absolute;
  right           : calc(-32px + -8px);
  top             : calc(-32px + -8px);
  width           : 32px;
  height          : 32px;
  object-fit      : contain;
  object-position : center;
  cursor          : pointer;
  background-color: rgba(0, 0, 0, 0);
  padding         : 0;
  opacity         : 1;
  transition      : 0.4s;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media all and (max-width:360px) {
  .popup__close-button {
    width : 20px;
    height: 20px;
    right : calc(-20px + 19px);
    top   : calc(-20px + -16px);
  }
}